:root {
    --admin-color-primary: #00aaff;
    --admin-color-highlight: #70ccfa;
    --admin-color-pale: #dfdfdf;
    --admin-color-pale-highlight: #f8f8f8;
}

button.br-ext {
    background-color: var(--admin-color-primary);
    color: black;

    &:not([disabled]):hover {
        background-color: var(--admin-color-highlight);
    }

    &.cancel {
        background-color: var(--admin-color-pale);

        &:not([disabled]):hover {
            background-color: var(--admin-color-pale-highlight);
        }
    }
}