:root {
    --admin-color-primary: #00aaff;
    --admin-color-highlight: #70ccfa;
    --admin-color-pale: #dfdfdf;
    --admin-color-pale-highlight: #f8f8f8;
    --admin-color-error: #a80000;
    --admin-color-error-highlight: #cc0000;
}

#br-ext-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    #br-ext-overlay-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        
        p {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        span {
            font-size: 1.5rem;
        }
    }

    #br-ext-modal {
        min-width: 40%;
        min-height: 40%;
        background-color: #eeeeee;
        display: grid;
        grid-template-rows: auto 1fr auto;
        color: black;

        div {
            padding: 0.5em 1em;
        }

        #br-ext-modal-header {
            background-color: #cccccc;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        #br-ext-modal-footer {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1em;
        }
    }
}

#br-ext-price-buttons {
    display: flex;
    gap: 0.5em;
}

#br-ext-product-options {
    display: flex;
    gap: 1em;

    #br-ext-product-delete {
        cursor: pointer;
        color: var(--admin-color-error);

        &:not([disabled]):hover {
            color: var(--admin-color-error-highlight);
        }
    }
}

#br-ext-copied-sku {
    color: var(--tm-skincolor-text);
    transition: opacity 1s ease-in-out;
}

button.br-ext {
    background-color: var(--admin-color-primary);
    color: black;

    &:not([disabled]):hover {
        background-color: var(--admin-color-highlight);
    }

    &.cancel {
        background-color: var(--admin-color-pale);

        &:not([disabled]):hover {
            background-color: var(--admin-color-pale-highlight);
        }
    }
}

.br-ext-form button {
    padding: 1rem;
}

.br-ext.feedback {
    color: var(--admin-color-error);
}

.br-ext.invalid {
    border-color: var(--admin-color-error) !important;
}

.sku {
    cursor: pointer;
}